# Local env
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build outputs
# We keep dist/ because the user specifically wanted to push the production build
# dist/ 

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log
